<% include partials/header %>
<div class="caption"><h1 class = "campName"><%=campground.name%></h1></div>
<img class = "campImg" src="<%=campground.image%>"/>
<p><%= campground.description%></p>
<% include partials/footer %>